<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epi.mapper.ResourceMapper">
    <resultMap id="BaseResultMap" type="com.epi.entity.Resource">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="visible" jdbcType="CHAR" property="visible"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <select id="getResourcesByRoleId" resultType="com.epi.entity.Resource">
        SELECT * FROM epiprophet.sys_resource t1
            INNER JOIN epiprophet.sys_role_resource t2 ON t1.id = t2.resource_id
            INNER JOIN epiprophet.sys_role t3 ON t2.role_id = t3.id
        where t3.id = #{roleId}
    </select>


</mapper>